body{
	background-color: #505050;
}
.conteneur{
	margin: 0 auto;
	width: 1420px;
	padding-top: 10px;
	position: relative;

}
header{
	background-color: #909090;
	height: 120px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.ovalle{
	background-color: #909090;
   	box-shadow: 8px 11px 8px 0 #000;
	border-radius: 10px;	
}
.header_r{
	float: right;
	position: relative;
}
.dayof{
	margin-left: 9px;
	height: 100%;
}
.loupe{
	margin-top: 2px;
	position: relative;
}
.reload{
	float: right;
	position: relative;
	height: auto;
	width: 20px;
   	margin-right: 10px;
}
.close{
	bottom: 26px;
   	height: auto;
   	margin-right: 10px;
    	position: absolute;
	right: 0;
	width: 17px;
}
.middle{
	padding-top: 30px;
	padding-left: 20px;
	height: 800px;
}
.middle .ovalle{
	background-color: #909090;
	float: left;

}
.middle_l{
	width: 105px;
	height: 385px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.middle_m{
	float: right;
	position: relative;
	width: 1020px;
	padding-top: 10px;
	margin: 0 auto;
}
.middle_r{
	position: absolute;
	float: right;
	right: 0px;
	width: 150px;
	padding-left: 35px;
	height: 385px;
	padding-bottom: 20px;
	padding-top: 20px;
}
.middle_m img{
	width: 1000;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.middle_l img{
	float: right;
	width: 70px;
	margin-bottom: 10px;
}
